<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="/css/result.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Sekuya&display=swap" rel="stylesheet"></head>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Sekuya&display=swap" rel="stylesheet">
<body>
    <%- include('partials/navbar') %>
    <button id="backtoscan">← BACK TO SCANNER</button>
    <br><br>
    <div id="analysis-id"><i class="fa-solid fa-magnifying-glass-chart"></i> ANALYSIS ID: SC-7742</div>
    <br>
    <div>
    <div id="toxic">Toxicology <i><span id="treport">Report</span></i></div> 
    <i class="fa-solid fa-file-arrow-down" id="download"></i>
    <i class="fa-solid fa-square-share-nodes" id="share"></i>
    <button id="analyze_np"> <i class="fa-solid fa-arrows-rotate"></i> Analyze New Product</button>
    </div>
    <div class="report-card">
        <div class="left">
            <div class="circle">
                <p class="score"><%=score%></p>
                <p class="safety">SAFETY INDEX</p>
            </div>
        </div>
        <div class="right">
            <p class="tag">AI SYNTHESIS RESULT</p>
            <h1 class="title">Bio-Safe Profile</h1>
            <p class="desc"><%=description%></p>
            <div class="stats">
                <div>
                    <p class="label">Risk Severity</p>
                    <h3 class="safe"><%=risk%></h3>
                </div>
                <div>
                    <p class="label">AI CONFIDENCE INDEX</p>
                    <h3 class="safe"><%=confidence%></h3>
                </div>
            </div>
        </div>
    </div>
    
    
    
</body>
</html>